<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>wheather app</title>
</head>
<body>

    <div class="container">

        <div class="header">

            <div class="icon">
                <img src=<%if(error != null){%>
                        ''
                    <%} else {%>
                        <%= data.icon %>
                    <%}%>
                    alt="">
            </div>

        </div>

        <div class="content">
            <div class="general-info">
                <div class="status">
                    <p>
                        <% if(error != null){ %>
                            <%= error %>
                        <%} else {%>
                            <%= data.text %>
                        <%}%>
                    </p>
                </div>
                <div class="location">
                    <p>
                        <% if(error != null){ %>
                            <%= error %>
                        <%} else {%>
                            <%= data.location %>
                        <%}%>
                    </p>
                </div>
            </div>
            
            <div class="detailed-info">

                <div class="detail">
                    <div class="title">WIND</div>
                    <div class="value">
                        <p>
                            <% if(error != null){ %>
                                TBD
                            <%} else {%>
                                <%= data.wind %>
                            <%}%>
                        </p>
                    </div>
                </div>

                <div class="detail border">
                    <div class="title">TEMP</div>
                    <div class="value">
                        <p>
                            <% if(error != null){ %>
                                TBD
                            <%} else {%>
                                <%= data.temp %>
                            <%}%>
                        </p>
                    </div>
                </div>

                <div class="detail">
                    <div class="title">HUMIDITY</div>
                    <div class="value"><p>
                        <% if(error != null){ %>
                            TBD
                        <%} else {%>
                            <%= data.humidity %>
                        <%}%>
                    </p></div>
                </div>

            </div>

            <div class="city-search-container">
                <form action="/weather" method="get ">
                    <input type="text" name="city" class="city-search" placeholder="Enter Location">
                    <input type="submit" class="btn" value="submit">
                </form>
            </div>

        </div>

    </div>


</body>
</html>